.user-profile-enter {
    opacity: 0;
  }
  .user-profile-enter-active {
    opacity: 1;
    transition: opacity 400ms;
  }
  .user-profile-exit {
    opacity: 1;
  }
  .user-profile-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }